<main>
	<h1>Login</h1>
	<form action="/auth/login" method="post">
		<fieldset><label for="username">Username</label><input id="username" name="username" type="text"></fieldset>
		<fieldset><label for="password">Password</label><input id="password" name="password" type="password"></fieldset>
		
		<button>Register</button>
	</form>

</main>