<% include ../partials/header.ejs %>

<main>
	<h1>register</h1>
	<form action="/auth/register" method="post">
		<fieldset><label for="username">Username</label><input id="username" name="username" type="text"></fieldset>
		<fieldset><label for="password">Password</label><input id="password" name="password" type="password"></fieldset>
		<fieldset><label for="confirm">Confirm Password</label><input id="confirm" type="password"></fieldset>
		<button>Register</button>
	</form>

</main>


<% include ../partials/footer.ejs %>
	
